<input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
<div csvtable>
  <table class="minimalistBlack" *ngIf="records.length > 0">
    <thead>
      <tr>
        <th>CUSTOMER NUMBER</th>
        <th>NATURE </th>
        <th>NAME </th>
        <th>GENDER </th>
        <th>BIRTHDATE </th>
        <th>MARITAL STATUS </th>
        <th>ID TYPE </th>
        <th>ID NUMBER </th>
        <th>SPAUSE NAME</th>
        <th>RESIDENTIAL ADRESS</th>
        <th>CLIENT PHONE NUMBER</th>
        <th>SPAUSE PHONE NUMBER</th>
        <th>BUSINESS TYPE</th>
        <th>BUSINESS LOCATION</th>
        <th>LOAN STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records;let i = index;">
        <td> <span>{{record.customerNumber}}</span> </td>
        <td> <span>{{record.clientNature}}</span> </td>
        <td> <span>{{record.customerName}}</span> </td>
        <td> <span>{{record.gender}}</span> </td>
        <td> <span>{{record.birthDate}}</span> </td>
        <td> <span>{{record.maritalStatus}}</span> </td>
        <td> <span>{{record.idType}}</span> </td>
        <td> <span>{{record.idNumber}}</span> </td>
        <td> <span>{{record.spauseName}}</span> </td>
        <td> <span>{{record.spauseNumber}}</span> </td>
        <td> <span>{{record.residentialAdress}}</span> </td>
        <td> <span>{{record.clientPhoneNumber}}</span> </td>
        <td> <span>{{record.businessType}}</span> </td>
        <td> <span>{{record.businessLocation}}</span> </td>
        <td> <span>{{record.loanStatus}}</span> </td>
      </tr>
    </tbody>
  </table>
</div>

