<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="service-desk">Clients Desk</a>
      <a mat-list-item routerLink="operations">Operations</a>
      <a mat-list-item routerLink="treasury">Treasury</a>
      <a mat-list-item routerLink="management">Management</a>
      <a mat-list-item href="#">Settings</a>
      <a mat-list-item href="#">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>BICB Microfinance</span>
        <mat-icon userIcon>person_outline</mat-icon>

    </mat-toolbar>
    <!-- <ng-content></ng-content> -->
    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>





