.charts_view{
    width: 400px;
    height: auto;
}
.mat-toolbar{
    background-color: var(--purple);
    color: var(--wlight);
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.mat-toolbar-row > span{
    position: absolute;
    right: 30px;
}
.menu-hambuger-icon{
position: absolute;
left: 30px;
}

main{
    padding-left: 250px;
}
.side_menu{
    height: 100%;
    width: 250px;
    z-index: 1;
    position: fixed;
    left: 0;
    color: var(--wlight);
    top: 60px;
    background-color: var(--purple);
    
}
.side_menu > .options{
    background-color: red;
    height: 40px;
    padding: 20px, 0, 0, 20px;
    font-size: 1.5vw;
    margin-top: 30px;
}

.charts{
    height: 300px;
    width: 90%;
    margin-top: 30px;
    margin-left: 5%;
    display: flex;
    border-radius: 5px;
    justify-content: space-around;
    box-shadow: 0 -2px 2px var(--b-shadow),
    0 2px 4px var(--w-shadow);
}