.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.loggin_buttons{
  position: absolute;
  right: 0;
}
.loggin_buttons> button{
  margin-right: 10px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  color: white;
  z-index: 5;
}

[userIcon]{
  position: absolute;
  right: 30px;
}

