<!-- <router-outlet></router-outlet> -->
<mat-toolbar>
<mat-toolbar-row>
  <span>BICB | Microfinance</span>
  <!-- <mat-slide-toggle class="example-margin">
    Theme
  </mat-slide-toggle> -->
  <mat-icon class="menu-hambuger-icon" click>menu</mat-icon>  
</mat-toolbar-row>
</mat-toolbar>

<main>
  <div class="side_menu">
    <ul>
      <li>Management</li>
      <li>Management</li>
      <li>Management</li>
      <li>Management</li>
      <li>Management</li>
    </ul>
  </div>
  <div class="charts">

  <div class="charts_view">
    <app-dynamic-chart></app-dynamic-chart>
  </div>
  <div class="charts_view">
    <app-line-chart></app-line-chart>
  </div>
  </div>
  
</main>
