<mat-list>
  <mat-list-item>Notifications</mat-list-item>
  <mat-card cards>
      <mat-list>
  <mat-list-item>Do Not Disturb</mat-list-item>
    <mat-checkbox [(ngModel)]="checked">Automatically disable notifications from:</mat-checkbox>


      </mat-list>
  </mat-card>
  <mat-divider></mat-divider>
  
  <mat-list-item>Languages & Region</mat-list-item>
  <mat-card cards>
      <mat-list>
          <mat-form-field>
            <mat-label>Language</mat-label>
            <mat-select>
              <mat-option *ngFor="let Language of Languages" [value]="Language.value">
                {{Language.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </mat-list>

      <mat-list>
          <mat-form-field>
            <mat-label>Time Zone</mat-label>
            <mat-select>
              <mat-option *ngFor="let zone of Timezones" [value]="zone.value">
                {{zone.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </mat-list>
      <button mat-stroked-button color="primary" savebtn>Save</button>
      
  </mat-card>
  <mat-divider></mat-divider>
  <mat-list-item>Themes</mat-list-item>
  <mat-card cards>
      <!-- <div toggleBtnContainer>
            <div class="themeToggle lightTheme">Light</div>
            <div class="themeToggle darkTheme">Dark</div>
      </div>     -->
      <mat-list role="list">
        <mat-list-item role="listitem">
            <div mat-line>Dark Theme</div>
          <mat-slide-toggle></mat-slide-toggle> 
        </mat-list-item>
        <mat-list-item role="listitem">
            <div mat-line>Light Theme</div>
          <mat-slide-toggle></mat-slide-toggle>
        </mat-list-item>
        <mat-list-item role="listitem">
            <div mat-line>High Contrast</div>
          <mat-slide-toggle></mat-slide-toggle>
        </mat-list-item>
      </mat-list>
      <button mat-stroked-button color="primary" savebtn>Save</button>
  </mat-card>
  <mat-divider></mat-divider>
  <mat-list-item>Advanced</mat-list-item>
</mat-list>

