
:root {
  --purple: #7d36ba;
  --dark: #222831;
  --mid: #30475e;
  --wdark: #000000;
  --wlight: #ffffff;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}



