.charts_view {
  width: 400px;
  height: auto;
}

.charts {
  height: 300px;
  width: 90%;
  margin: 30px 0 30px 0;
  margin-left: 5%;
  display: flex;
  border-radius: 5px;
  justify-content: space-around;
}
mat-card{
  margin: 30px;
}